
  
<fieldset id="login" method="post">
 <legend>Login</legend>
 <ul style="list-style: none;">
      <li>
        <label for="firstName">First name</label>
        <input id="firstName" type="text" name="firstName" required="required" autofocus="autofocus" maxlength="30" placeholder="First name">
      </li>
      <li>
        <label for="lastName">Last name</label>
        <input id="lastName" type="text" name="lastName" required="required" autofocus="autofocus" maxlength="30" placeholder="Last name">
      </li>
      <li>
        <label for="userName">username</label>
        <input id="userName" type="text" name="userame" required="required" autofocus="autofocus" maxlength="30" placeholder="username">
      </li>
      <li>
        <label for="password">password</label>
        <input id="password" type="password" name="password" required="required" autofocus="autofocus" minlength="4" maxlength="12" placeholder="password 4-12 characters">
      </li>
</ul>
</fieldset>

