
  
<fieldset id="login" method="post">
 <legend>Login</legend>
 <ul style="list-style: none;">
      <li>
        <label for="firstName">First Name</label>
        <input id="firstName" type="text" name="firstName" required="required" autofocus="autofocus" maxlength="30" placeholder="">
      </li>
      <li>
        <label for="firstName">First Name</label>
        <input id="firstName" type="text" name="firstName" required="required" autofocus="autofocus" maxlength="30" placeholder="">
      </li>
</ul>
</fieldset>

